@model UserModel
@{
    ViewData["Title"] = "Opprett bruker";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary">Tilbake</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="empNr">Ansattnr.</label>
        <input asp-for="empNr" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="empFname">Fornavn</label>
        <input asp-for="empFname" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="empLname">Etternavn</label>
        <input asp-for="empLname" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="Email">E-post</label>
        <input asp-for="Email" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Tlf.nr.</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Photo">Bilde</label>
        <div class="custom-file">
        <input asp-for="Photo" class="form-control custom-file-input" aria-required="true" />
        <label class="custom-file-label"></label>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password">Passord</label>
        <input asp-for="Password" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Bekreft passord</label>
        <input asp-for="ConfirmPassword" class="form-control" aria-required="true" />
    </div>
    <button type="submit" class="btn btn-primary">Opprett bruker</button>
</form>