@{
    ViewBag.Title = "Legg til bruker";
}

<h1>Legg til ny bruker</h1> 
<br />
<p>Vennligst fyll ut for å legge til ny bruker</p>
<br />



<div>
	<input type="text" placeholder="Fornavn" required />
	<input type "text" placeholder="Etternavn" required />
</div>

<br />

<div>
	<input type="text" placeholder="Ansattnummer" required />
</div>

<br />

<div>
	<input type="text" placeholder="Email" required />
</div>

<br />

<div>
	<input type="text" placeholder="Telefonnummer" />
</div>








