@using NDWebApp.Areas.Identity.Data
@model NDWebAppUser
@{
    ViewBag.Title = "Endre passord";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        Endre passord for bruker <input asp-for="UserName" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>