@using NDWebApp.Areas.Identity.Data
@model NDWebAppUser
@{
    ViewBag.Title = "Suksess";
}

<h1>Brukeren har blitt oppdatert/slettet</h1>
<a asp-action="Index" class="btn btn-secondary">Tilbake til brukerlisten</a>