@using NDWebApp.Areas.Identity.Data
@model UserModel
@{
    ViewBag.Title = "Oppdater bruker";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary"> <i class="fa-solid fa-circle-chevron-left"></i> Tilbake</a>
<div asp-validation-summary="All" class="text-danger"></div>
 
<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Id">System Id</label>
        <input asp-for="Id" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="empNr">Ansattnr.</label>
        <input asp-for="empNr" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="empFname">Fornavn</label>
        <input asp-for="empFname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="empLname">Etternavn</label>
        <input asp-for="empLname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">E-post</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Tlf.nr.</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="teamId">Team</label>
        <select asp-for="teamId" class="form-control" id="teamId" name="teamId">
            <option value="">Ingen team</option>
            @foreach (var team in Model.AvailableTeams)
            {
                <option value="@team.TeamId">@team.TeamName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-floppy-disk"></i> Lagre</button>
</form>