@using NDWebApp.Areas.Identity.Data
@model NDWebAppUser
@{
    ViewBag.Title = "Bruker";
}
<h1>@ViewData["Title"]:</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

<div class="row">
    <div class="col-md-6 justify-content-center">
        <div class="form-group">
            <label asp-for="Id">System Id</label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="empFname">Fornavn</label>
            <input asp-for="empFname" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="empLname">Etternavn</label>
            <input asp-for="empLname" class="form-control" disabled />
        </div>
    </div>
    <div class="col-md-6 justify-content-center">
        <div class="form-group">
            <label asp-for="empNr">Ansattnummer</label>
            <input asp-for="empNr" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Email">E-post</label>
            <input asp-for="Email" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Telefonnummer</label>
            <input asp-for="PhoneNumber" class="form-control" disabled />
        </div>
    </div>
</div>
<h2>Medlem av teams:</h2>
teamliste

<h2>Innsendte forslag:</h2>


<h2>Innsendte reparasjoner:</h2>