@model NDWebApp.Models.TeamModel
<ul>
    @foreach (var team in Model.Teams)
    {
        <li>
            LE ebic team: @team.TeamId, Etternavn: @team.TeamName , E-post: @team.LeaderUserId
        </li>
    }
</ul>