@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Detaljer over et team</h1>
<a asp-controller="Teams" asp-action="Index">Tilbake</a>
@Model.TeamId

@Model.TeamName

@Model.LeaderUserId