@{
    ViewData["Title"] = "Admin kontrollpanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin kontrollpanel</h1>

<div class="row">
    <p>Denne seksjonen har ikke blitt tatt i bruk, men er beholdt slik at den er klar om funksjoner må implementeres senere</p>
</div>