@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ingen tilgang";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har ikke tilgang til denne siden.</p>
</header>
