@page
@model LogoutModel
@{
    ViewData["Title"] = "Bekreft utlogging";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="text-center">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-danger">Klikk her for å logge ut</button>
                </form>
            </div>
        }
        else
        {
            <p>Du er nå logget ut av applikasjonen.</p>
        }
    }
</header>
