@{
    ViewData["Title"] = "Admin";
}


<style>
    .container {
        
    }

    .buttnContainer {
        padding: 30px;
        


    }

    #leggTilBtn {
        border: none;
        background-color: lightgreen;
        width: 20%;
        height: 50px;
        margin-top: 10px;
        border-radius: 5px; 
        
       
       

    }

        #leggTilBtn:hover {

            background-color: mediumseagreen;
            font-weight: bold;
        }



        #redigerBtn {
        border: none;
        background-color: lightgreen;
        width: 20%; 
        height: 50px;
        margin-top: 10px;
        border-radius: 5px;
        
        
        }

        #redigerBtn:hover {

            background-color: mediumseagreen;
            font-weight: bold;
        
        
        }
</style>


<h1>Dette er siden for Admin</h1>

<div class="container">
    <div class="buttnContainer">
        <label>Legg til ny bruker</label>
        <br />
        <button id="leggTilBtn" onclick="location.href='@Url.Action("Add", "Users")'">Legg til</button>
       
       
        

    </div>


    <div class="buttnContainer">
        <br />
        <label>Rediger eksisterende bruker</label>
        <br />
        <button id="redigerBtn" onclick="location.href='@Url.Action("Rediger", "Users")'">Rediger</button>
        
    </div>


</div>





