@{
    ViewBag.Title = "Forslag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <a asp-controller="Repairs" asp-action="Index">Tilbake til reparasjonsoversikt...</a>
                <h1>Reparasjon</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <u>Tittel:</u>
                <p>Tittel på reparasjon</p>
            </div>

            <div class="col-sm-3">
                <u>Ansvarlig for reparasjon:</u>
                <p>Kar Dude Fyr</p>
            </div>

            <div class="col-sm-3">
                <u>Sendt inn av:</u>
                <p>Jeff Jefferson</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <u>Status:</u>
                <p>Ikke vurdert</p>
            </div>

            <div class="col-sm-3">
                <u>Deadline:</u>
                <p>04.04.2024</p>
            </div>

            <div class="col-sm-3">
                <u>Ferdig dato:</u>
                <p>**vises kun når ferdig**</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <u>Beskrivelse:</u>
                <p>
                    Dette er beskrivelsen av prosjektet. Dette kan være en veeeeeeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeldig lang tekst.
                    Bare sånn at du vet det.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <hr>
                <h3>Kommentarer:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Legg til kommentar:
                <form id="addcomment"></form>
                <textarea rows="4" cols="82" name="comment" form="addcomment" placeholder="Skriv en kommentar her..."></textarea><br>
                <button type="submit">Legg til kommentar</button>
                <br>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Lagt inn av <i>Gubbe Gubbesen</i> den <i>05.05.23 kl. 14:36</i><br>
                "Trengs å fikses asap!!"
                <br>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Lagt inn av <i>Personell Person</i> den <i>05.05.23 kl. 14:34</i><br>
                "Jeg synes dette prosjektet er veldig nødvendig!!"
                <br>
                <hr>
            </div>
        </div>